:root {
  --primary-color: #3f51b5;
  --text-dark: #333333;
  --bg-light: #e0e0e0;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px; 
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
    background-color: antiquewhite;
    color: black;
    line-height: 1.6;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 var(--spacing-lg);
    background-color: rgb(255, 252, 252);
    border-bottom: 2px solid black;
    margin-bottom: var(--spacing-xl);
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-img{
    height: 35px;
    width: auto;
}
.logo-text{
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    color: black;
}
.logo-dark{
    color: gray;
    font-weight: normal;
    margin-left: -5px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.nav-menu a{
    text-decoration: none;
    color: #3f51b5;
    font-size: 1rem;
    transition: color 0.2 ease;
}
.nav-menu a:hover{
    color: var(--primary-color);
}
.nav-signing{
    font-weight: 600;
    color: var(--primary-color) !important;
}

/*hero-section*/
.hero-section{
    display: flex;
    background-color: blue;
    border: 3px solid green;
    border-radius: 6px;
    margin-bottom: var(--spacing-md);
    overflow: hidden;
}

.box-hero-img{
    width: 60%;
    min-height: 250px;
    background-color: aqua;
    border-right: #3f51b5;
}

.hero-content{
    width: 40%;
    min-height: 250px;
    background-color: aqua;
}